* {
  box-sizing: border-box;
}
body{
  font-family: 'Titillium Web', sans-serif;
  margin: 0px;
}
body, html {
    height: 100%;
}
header{
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
}
#nav-logo{
  float: left;
  width: 200px;
  padding: 15px;
  margin: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}
a, h1{
  color: white;
}
.tabs{
  font-size: 24px;
  text-decoration: none;
  float: right;
  padding-right: 20px;
}

#landing-text{
  margin-top: 200px;
  margin-left: 10%;
  position: fixed;
}


#landing{
  padding-top: 50px;
  background: url("./images/landingpic.JPG");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}
#landing h1{
  font-family: 'Flamenco', cursive;
  font-size: 100px;
  color: white;
}
#landing h2{
  font-family: 'Flamenco', cursive;
  font-size: 48px;
  color: white;
}
#landing h3{
  font-family: 'Flamenco', cursive;
  font-size: 30px;
  color: white;
}
#about{
  background: url("./images/empirestate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}
#resume{
  background: url("./images/sunset.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
#contact{
  background: url("./images/letter.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.section-container{
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  background-color: black;
  text-align: center;
  margin-top: -25px;
  margin-bottom: -25px;
}
.section-text{
  font-size: 24px;
}   

.project{
  float: left;
  margin-left: 30px;
}

.project-gif{
  height: 300px;
  width: 600px;
}
#thankyou_message, #email-invalid{
  display: none;
}
#gform{
  display: block;
}

#form-container{
  padding-left: 25%;
  padding-top: 100px;
  width: 70%;
}
#form-header{
  color: black;  
}
#about-me-profile-pic{
  width: 30%;
}
#about-me-header{
  color: black;
}
#about-me-bio{
  width: 45%;
  float: right;
}
#carousel{
  padding-top: 100px;
}
#carousel-header{
  color: black;
  text-align: center;
}

@media screen and (max-width: 500px) {
  #nav-bar{
    display: none;
  }
  #carousel{
    display: none;
  }
  .project-gif{
    width: 90%;
    height: auto;
  }
  #resume{
    height: 1000px;
  }
  #landing{
    background-size: 400px;
    height: 300px;
  }
  #landing-text{
    margin-top: 100px;
  }
  #about{
    background-size: 400px;
    height: 700px;
    text-align: center;

  }
  #about-me-bio{
    width: 100%;
    float: none;
  }
  #contact{
    background-size: 500px 600px;
    background-position: center;
  }
  #form-container{
    padding-top: 150px;
    padding-left: 12%;
  }  
  .form-control{
    width: 250px;
  }
}